@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root{
  --cor-primaria: #0d6efd;
  --cor-secundaria: #0abf1b;
  --cor-cinza-claro: #f0f0f0;
  --cor-cinza: #777;
  --cor-texto: #222;
  --cor-branco: #fff;
}

body{
  background: var(--cor-cinza-claro);
  color: var(--cor-texto);
}

header{
  background: var(--cor-primaria);
  color: var(--cor-branco);
  padding: 20px;
  display: flex;
  justify-content: center; /* CENTRALIZA O TEXTO */
  align-items: center;
}

header h1{
  font-size: 28px;
}

.container{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.form-box{
  background: var(--cor-branco);
  padding: 30px;
  width: 380px;
  border-radius: 12px;
  box-shadow: 0 0 10px #00000011;
}

.form-box h2{
  margin-bottom: 20px;
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form label{
  font-size: 14px;
  color: var(--cor-cinza);
}

form input{
  padding: 10px;
  border: 2px solid var(--cor-primaria);
  border-radius: 8px;
  font-size: 15px;
}

.btn{
  background: var(--cor-secundaria);
  border: none;
  padding: 12px;
  border-radius: 8px;
  color: var(--cor-branco);
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover{
  opacity: 0.9;
}

.login-link{
  margin-top: 15px;
  text-align: center;
  color: var(--cor-cinza);
}

.login-link a{
  color: var(--cor-primaria);
  font-weight: bold;
  text-decoration: none;
}
