@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root{
  --cor-primaria: #0d6efd;
  --cor-secundaria: #0abf1b;
  --cor-cinza-claro: #eef1f7;
  --cor-cinza: #6d6d6d;
  --cor-texto: #222;
  --cor-branco: #fff;
}

body{
  background: var(--cor-cinza-claro);
  color: var(--cor-texto);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header{
  background: linear-gradient(90deg, #0d6efd, #0954cd);
  color: var(--cor-branco);
  padding: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 0 3px 12px #00000025;
}

header h1{
  font-size: 30px;
  margin: 0;
}

.container{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.form-box{
  background: var(--cor-branco);
  padding: 45px;
  
  width: 480px;

  border-radius: 18px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.12);

  animation: fadeIn 0.3s ease-out;
}

.form-box h2{
  margin-bottom: 25px;
  text-align: center;
  font-size: 26px;
  color: var(--cor-primaria);
  font-weight: 600;
}

form{
  display: flex;
  flex-direction: column;
  gap: 18px;
}

form label{
  font-size: 15px;
  color: var(--cor-cinza);
  font-weight: 500;
}

form input{
  padding: 12px 14px;
  border: 2px solid var(--cor-primaria);
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  transition: 0.2s;
}

form input:focus{
  border-color: #003cff;
  box-shadow: 0 0 6px #003cff40;
}

.btn{
  background: var(--cor-secundaria);
  border: none;
  padding: 14px;
  border-radius: 10px;
  color: var(--cor-branco);
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.25s;
  letter-spacing: 0.5px;
}

.btn:hover{
  opacity: 0.92;
  transform: scale(1.02);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.login-link{
  margin-top: 20px;
  text-align: center;
  color: var(--cor-cinza);
  font-size: 15px;
}

.login-link a{
  color: var(--cor-primaria);
  font-weight: 600;
  text-decoration: none;
  transition: 0.2s;
}

.login-link a:hover{
  text-decoration: underline;
  opacity: .9;
}

@keyframes fadeIn {
  from{
    opacity: 0;
    transform: translateY(15px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 500px){
  .form-box{
    width: 95%;
    padding: 35px 25px;
  }
  header h1{
    font-size: 24px;
  }
}
